<div class="row">
  <div class="col-md-12 gif-options"><!-- GIF Form -->
    <h3>Send a gif</h3>
    <div class="gif">
      <video id='gif_preview' autoplay loop></video>
<!--       <div class="overlay">
        <p>Content</p>
      </div> -->
    </div>
    <div id="buttons">
      <button type="button" id="create_gif" class="btn btn-large btn-primary" ng-click='createGif()'>Start Recording</button>
      <button type="button" id="stop_recording" class="btn btn-large btn-danger">Stop Recording</button>
      <button type="button" ng-click='send_gif(current_user)' class="btn btn-large btn-success create-gif-button">Send GIF</button>
    </div>
  </div>
</div>