<div class="row">
  <div class="preview-section div.col-md-6">
    <h3>Send a picture</h3>
    <div class="camera">
      <video id="camera_preview">Preview</video>
      <button id="start_camera" class="btn btn-large btn-warning" ng-click='startCamera()'>Start Camera</button>
      <button ng-click='create_photo()' class="btn btn-large btn-primary pull-right">Take Picture</button>
    </div>
    <canvas id="canvas"></canvas>
    <div class="picture">
      <img id='photo_preview' src="">
      <div class="overlay">
        <p>Content</p>
      </div>
      <form action="">
        
        <button type="button" ng-click='send_photo(current_user)' id="send_photo" class="btn btn-large btn-success pull-right">Send Picture</button>
      </form>
    </div>
  </div>
</div>